<div class="bg-eggshell md:py-28 font-outfit flex items-center justify-center">
  <div class="bg-white max-w-3xl flex flex-col md:rounded-3xl">
    <img
      class="md:rounded-[3.3rem] pb-10 md:p-10"
      src="./assets/image-omelette.jpeg"
      alt="omelette"
    />

    <div class="flex flex-col gap-8 p-8 pt-0 md:p-10 md:pt-0">
      <h1 class="font-young-serif text-4xl">Simple Omelette Recipe</h1>

      <p class="text-wenge-brown">
        An easy and quick dish, perfect for any meal. This classic omelette
        combines beaten eggs cooked to perfection, optionally filled with your
        choice of cheese, vegetables, or meats.
      </p>

      <div class="bg-rose-white p-5 md:p-7 rounded-xl flex flex-col gap-2">
        <h6 class="text-[#742E4A] text-xl font-semibold">Preparation time</h6>
        <ul
          class="flex flex-col [&_li]:flex [&_li]:gap-7 [&_li]:items-center [&_li]:before:content-['\2022'] [&_li]:before:ms-1 [&_li]:before:text-2xl [&_li]:before:text-[#742E4A] [&_p]:text-wenge-brown [&_span]:font-semibold"
        >
          <li>
            <p><span>Total:</span> Approximately 10 minutes</p>
          </li>
          <li>
            <p><span>Preparation:</span> 5 minutes</p>
          </li>
          <li>
            <p><span>Cooking:</span> 5 minutes</p>
          </li>
        </ul>
      </div>

      <div class="flex flex-col gap-4">
        <h2 class="font-young-serif text-nutmeg text-3xl">Ingredients</h2>
        <ul
          class="flex flex-col [&_li]:flex [&_li]:gap-7 [&_li]:items-center [&_li]:before:content-['\2022'] [&_li]:before:ms-1 [&_li]:before:text-2xl [&_li]:before:text-[#742E4A] [&_p]:text-wenge-brown"
        >
          <li>
            <p>2-3 large eggs</p>
          </li>
          <li>
            <p>Salt, to taste</p>
          </li>
          <li>
            <p>Pepper, to taste</p>
          </li>
          <li>
            <p>1 tablespoon of butter or oil</p>
          </li>
          <li>
            <p>
              Optional fillings: cheese, diced vegetables, cooked meats, herbs
            </p>
          </li>
        </ul>
      </div>

      <hr />

      <div class="flex flex-col gap-4">
        <h2 class="font-young-serif text-nutmeg text-3xl">Instructions</h2>
        <ul
          class="instructions flex flex-col gap-2 [&_li]:flex [&_li]:gap-4 [&_li]:before:text-nutmeg [&_li]:before:font-bold [&_li]:before:mx-2 [&_p]:text-wenge-brown [&_span]:font-bold"
        >
          <li>
            <p>
              <span>Beat the eggs:</span> In a bowl, beat the eggs with a pinch
              of salt and pepper until they are well mixed. You can add a
              tablespoon of water or milk for a fluffier texture.
            </p>
          </li>
          <li>
            <p>
              <span>Heat the pan:</span> Place a non-stick frying pan over
              medium heat and add butter or oil.e
            </p>
          </li>
          <li>
            <p>
              <span>Cook the omelette:</span> Once the butter is melted and
              bubbling, pour in the eggs. Tilt the pan to ensure the eggs evenly
              coat the surface.
            </p>
          </li>
          <li>
            <p>
              <span>Add fillings (optional):</span> When the eggs begin to set
              at the edges but are still slightly runny in the middle, sprinkle
              your chosen fillings over one half of the omelette.
            </p>
          </li>
          <li>
            <p>
              <span>Fold and serve:</span> As the omelette continues to cook,
              carefully lift one edge and fold it over the fillings. Let it cook
              for another minute, then slide it onto a plate.
            </p>
          </li>
          <li>
            <p>
              <span>Enjoy:</span> Serve hot, with additional salt and pepper if
              needed.
            </p>
          </li>
        </ul>
      </div>

      <hr />

      <div class="flex flex-col gap-4">
        <h2 class="font-young-serif text-nutmeg text-3xl">Nutrition</h2>
        <p class="text-wenge-brown">
          The table below shows nutritional values per serving without the
          additional fillings.
        </p>
        <table
          class="text-wenge-brown border-collapse [&_tr]:border-b [&_td]:py-3 [&_td:first-child]:ps-8 [&_td:first-child]:w-[49%] [&_tr]:border-gray-300 [&_tr:last-child]:border-none [&_td:nth-child(even)]:text-nutmeg [&_td:nth-child(even)]:font-semibold [&_tr:last-child_td]:pb-0"
        >
          <tbody>
            <tr>
              <td>Calories</td>
              <td>277kcal</td>
            </tr>
            <tr>
              <td>Carbs</td>
              <td>0g</td>
            </tr>
            <tr>
              <td>Protein</td>
              <td>20g</td>
            </tr>
            <tr>
              <td>Fat</td>
              <td>22g</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
